#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: gustavoanez # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDeI2plE/zUtdSBv3gP9m9ob1haJtMRQjvZQ/3lcQLsNK/QuPT2upGC29JVRNTgQ1fQ/z6ox1jHSwvObW8VcoQEuu3DlFHhHNyusWfNmqt0mDsssH4iCcPCFhpL95BjRt8igCaEO5BN/acI/b4J5Ofo26lO5eF1Hx0NI4Vd4u6IiKZnWGpgiRDegVUQVmZNJbuCO23+ePg4c4DfuCa1mGMqdb039voUi8WF/gBdKSqLd8E6d9edLCEggYwVE/2keM7tMDVg5d2OxDX6k94f7He31pQdh+bCr8+tR8Sy9pXcGGBbtJHoe9gF+t/eZfy74zVzLOzrPsCSRULlO0VQQ6fN gustavoanez@gustavoanez
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
